/*Setting colors in variables*/
$bg-color: #1E1E1E;
$white-font: #F9F9F9;
$secundary-font-color: #828282;
$theme: #FECE2F;
$card-bg: #303030;

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');

/*Standard configs*/
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}


body
{
    background-color: $bg-color;
    width: 100%;
    height: 100vh;
}

html {
  scroll-behavior: smooth;
}


/*Header settings*/
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 150px 35px 150px;
    color: $white-font;
    font-size: 1.13rem;
    

    span#header-links{
        display: flex;
        gap: 45px;

            a{
                text-decoration: none;
                color: $white-font;
            }
            a:visited{
                color: none;
            }
            a:hover{
                transition: 1.5;
                scale: 1.05;
                color: $theme;
                cursor: pointer;
            }

    }
    nav#aboutMe:hover, #project:hover, #service:hover, #skill:hover{
        transition: 1.5;
        scale: 1.05;
        color: $theme;
        cursor: pointer;
    }

    span#portfolio{
        font-size: 1.63rem;
        font-weight: bold;
    }
}

/*First Section styling*/

section.landing-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 81px 150px 0px 150px;

        article{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            height: 100%;
            width: 100%;
                /*Styling my name in first section*/
                h2{
                    font-weight: 700;
                    font-size: 2.25rem;
                    line-height: 2.94rem;
                    color: $white-font;
                    margin-bottom: 1.13rem;
                        /*The yellow strong text*/
                        strong{
                            color: $theme;
                        }
                }
                /*Front-end description*/
                p#landing-section{
                    font-weight: 500;
                    font-size: 1.13rem;
                    line-height: 1.44rem;
                    color: $secundary-font-color;
                    
                }

                /*Buttons style*/
                div#button-landing{
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    
                }
                button{
                    transition: 0.5s;
                    cursor: pointer;
                    background-color: transparent;
                    border: $theme solid 1px;
                    padding: 12px 27px;
                    margin: 2.94rem 0.9375rem 0rem 0rem;
                        a{
                            text-decoration: none;
                            color: $white-font;
                            font-weight: bold;
                        }
                        a:visited{
                            color: white;
                        }
                      }     
                
        }

        aside#myself-picture, img{
            width: 100%;
            max-width: 300px;
            height: 250px;
            border-radius: 42% 58% 62% 38% / 30% 53% 47% 70%;
        }
        aside#myself-picture:hover,img:hover{
            transition: 1.5;
            scale: 1.025;
        }
}

/*Second section - About me*/

section#moreAboutMe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

        h1{
            color: $white-font;
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.63rem;
            margin-top: 10.625rem;
            margin-bottom: 1.88rem;
        }
        p{
            text-indent: 48px;
            color: $secundary-font-color;
            width: 46.5625rem;
            text-align: justify;
            line-height: 2rem;
        }
}

/*Contanct section (Third)*/

div.contact-info{
    margin-top: 5.3125rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
        /*Card with the circle and information about me*/
        .circle-card{
            
                .circle{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                /*SVG background*/
                svg.svg-emoji{
                    background: $card-bg;
                    width: 62px;
                    height: 62px;
                    border-radius: 100px;
                    margin-bottom: 20px;
                }

                /*Padding of svg picture*/
                svg{
                    padding: 15px;
                    margin-bottom: 20px;
                    overflow: hidden;

                }

                strong{
                    color: $white-font;
                }
                p{
                    margin: 5px 0px 7.9375rem 0px;
                    color: $secundary-font-color;
                }
        }

}

/*Project cards section*/
.project-title{
    text-align: center;
    color: $white-font;
    font-size: 2rem;
}
#projects{
    
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
    grid-column-gap: 45px;
    grid-row-gap: 32px;
    place-items: center;
    padding: 0px 150px;
    margin-bottom: 7.9375rem;

        .card-links{
            text-decoration: none;
            
        }
        /*Main card*/
        div.project-main-card{
            background-color: $card-bg;
            max-width: 350px;
            width: 100%;
            height: 240px;
            padding: 25px;

                div.project-card-image{
                    max-width: 300px;
                    width: 100%;
                    height: 130px;
                    background-color: #F9F9F9;
                    margin-bottom: 25px;
                    cursor: pointer;
                }

                h3{
                    font-weight: bold;
                    font-size: 1.13rem;
                    color: $theme;
                    margin-bottom: 6px;
                }
                p{
                    color: $secundary-font-color;
                    font-size: 0.875rem;
                }

        }
        div.project-main-card:hover{
            transition: .8;
            scale: 1.05;
            box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.75);
        }
    
}

/*Styling the services section*/

section#services{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 45px;
    place-items: center;
    padding: 0px 150px;
    margin-top: 30px;
    margin-bottom: 7.9375rem;

        .service-card{
            width: 350px;
            height: 240px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: $card-bg;
            border-bottom: 5px;
            border-bottom-color: $theme;
            border-bottom-style: solid;
            box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.75);

                picture{
                    display: grid;
                    place-items: center;
                }

                h2{
                    margin-top: 40px;
                    font-size: 2rem;
                    color: $secundary-font-color;
                }
        }
        

}

/*Styling my skills section*/
#skill-title{
    margin-bottom: 30px;
}
section#mySkills{
    /*padding: 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 11.5625rem;
    margin-top: 30px;
    */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    grid-gap: 0px 100px;
    padding: 0px 150px;
    margin-bottom: 185px;
    margin-top: 30px;
        
        .skill-card{
            padding: 35px;
            background-color: $card-bg;
        }
        .skill-card:hover{
            transition: .8;
            scale: 1.05;
            box-shadow: 0px 0px 20px 0px $theme;
        }
}

footer{
    background-color: $card-bg;
    padding: 15px;
    p{
        font-size: 16px;
        text-align: center;
        color: $white-font;

            strong{
                color: $theme;
            }
    }
}

/*Responsive for mobile*/
@media screen and (max-width: 600px) {
    body {
        max-width: 100%;
        overflow-x: hidden;
      }      

    /*Header Section*/
    header{
        justify-content: space-around;
        padding: 24px 0px 0px 24px;

            span#header-links{
                font-size: 10px;
                gap: 5px;
                padding: 0px 30px 0px 0px;
            }

            span#portfolio{
                margin: 0px;
                padding: 0px;
                font-size: 16px;
            }
    }

    /*Initial Landing Section*/
    section.landing-section{  
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
            article{
                div#buttons-landing{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 56px;
                }

                h2{
                    margin: 56px 8px 8px 8px;
                    width: 100%;
                    font-size: 30px;   
                    text-align: center;
                }
                p#landing-section{
                    text-align: center;
                    width: 100%;
                }
                
                    }
                    
    }

    /*More About Me Section*/
    section#moreAboutMe{
        
            h1{
                text-align: center;
                margin-bottom: 0px;
            }
            p{
                margin-top: 0px;
                width: 100%;
                font-size: 14px;
                padding: 24px;
                margin-bottom: 0px;
            }
    }

    /*My contact section*/
    div.contact-info{
        padding: 20px; 
        margin-top: 30px;
        justify-content: center;
        align-items: center;
        gap: 20px;
            .circle-card{
                padding: 0px;
                margin: 0px;
                max-width: 150px;
                width: 100%;
                height: auto;
                    p{
                        font-size: 12px;
                    }
                    h3{
                        font-size: 18px;
                    }
            }
            
    }

    /*Projects Section*/
    section#projects{
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6fr;
        grid-row-gap: 32px;
        place-items: center;
        padding: 0px;
        margin-bottom: 7.9375rem;
        
    }


    /*My services Section*/
    section#services{

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        grid-gap: 24px 45px;
        place-items: center;
        padding: 0px;

  }

    /*My skills section*/
    section#mySkills{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 24px 50px;
        padding: 0px 24px;
    }
}



  