/*Setting colors in variables*/
/*Standard configs*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1E1E1E;
  width: 100%;
  height: 100vh;
}

/*Header settings*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 150px 35px 150px;
  color: #F9F9F9;
  font-size: 1.13rem;
}
header span#header-links {
  display: flex;
  gap: 45px;
}
header span#portfolio {
  font-size: 1.63rem;
  font-weight: bold;
}

/*First Section styling*/
section.landing-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 81px 150px 0px 150px;
}
section.landing-section article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  /*Styling my name in first section*/
  /*Front-end description*/
  /*Buttons style*/
}
section.landing-section article h2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.94rem;
  color: #F9F9F9;
  margin-bottom: 1.13rem;
  /*The yellow strong text*/
}
section.landing-section article h2 strong {
  color: #FECE2F;
}
section.landing-section article p#landing-section {
  font-weight: 500;
  font-size: 1.13rem;
  line-height: 1.44rem;
  color: #828282;
}
section.landing-section article div#button-landing {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
section.landing-section article button {
  transition: 0.5s;
  cursor: pointer;
  background-color: transparent;
  border: #FECE2F solid 1px;
  padding: 12px 27px;
  margin: 2.94rem 0.9375rem 0rem 0rem;
}
section.landing-section article button a {
  text-decoration: none;
  color: #F9F9F9;
  font-weight: bold;
}
section.landing-section article button a:visited {
  color: white;
}
section.landing-section article button:hover {
  background-color: #FECE2F;
  border: #000 1px solid;
  transition: 1;
}
section.landing-section aside#myself-picture, section.landing-section img {
  width: 100%;
  max-width: 300px;
  height: 250px;
  border-radius: 42% 58% 62% 38%/30% 53% 47% 70%;
}
section.landing-section aside#myself-picture:hover, section.landing-section img:hover {
  border: 1px solid #FECE2F;
  transition: 1.5;
  scale: 1.025;
}

/*Second section - About me*/
section#moreAboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section#moreAboutMe h1 {
  color: #F9F9F9;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.63rem;
  margin-top: 10.625rem;
  margin-bottom: 1.88rem;
}
section#moreAboutMe p {
  text-indent: 48px;
  color: #828282;
  width: 46.5625rem;
  text-align: justify;
  line-height: 2rem;
}

/*Contanct section (Third)*/
div.contact-info {
  margin-top: 5.3125rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px 150px;
  /*Card with the circle and information about me*/
}
div.contact-info .circle-card {
  /*SVG background*/
  /*Padding of svg picture*/
}
div.contact-info .circle-card .circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.contact-info .circle-card svg.svg-emoji {
  background: #303030;
  width: 62px;
  height: 62px;
  border-radius: 100px;
  margin-bottom: 20px;
}
div.contact-info .circle-card svg {
  padding: 15px;
  margin-bottom: 20px;
  overflow: hidden;
}
div.contact-info .circle-card strong {
  color: #F9F9F9;
}
div.contact-info .circle-card p {
  margin: 5px 0px 7.9375rem 0px;
  color: #828282;
}

/*Project cards section*/
.project-title {
  text-align: center;
  color: #F9F9F9;
  font-size: 2rem;
}

#projects {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr;
  grid-column-gap: 45px;
  grid-row-gap: 32px;
  place-items: center;
  padding: 0px 150px;
  margin-bottom: 7.9375rem;
  /*Main card*/
}
#projects div.project-main-card {
  background-color: #303030;
  max-width: 350px;
  width: 100%;
  height: 240px;
  padding: 25px;
}
#projects div.project-main-card div.project-card-image {
  max-width: 300px;
  width: 100%;
  height: 130px;
  background-color: #F9F9F9;
  margin-bottom: 25px;
}
#projects div.project-main-card h3 {
  font-weight: bold;
  font-size: 1.13rem;
  color: #FECE2F;
  margin-bottom: 6px;
}
#projects div.project-main-card p {
  color: #828282;
  font-size: 0.875rem;
}
#projects div.project-main-card:hover {
  transition: 0.8;
  scale: 1.05;
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.75);
}

/*Styling the services section*/
section#services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 45px;
  place-items: center;
  padding: 0px 150px;
  margin-top: 30px;
}
section#services .service-card {
  width: 350px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #303030;
  border-bottom: 5px;
  border-bottom-color: #FECE2F;
  border-bottom-style: solid;
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.75);
}
section#services .service-card picture {
  display: grid;
  place-items: center;
}/*# sourceMappingURL=style.css.map */