/*Setting colors in variables*/
$bg-color: #1E1E1E;
$white-font: #F9F9F9;
$secundary-font-color: #828282;
$theme: #FECE2F;
$card-bg: #303030;

/*Standard configs*/
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: $bg-color;
    width: 100%;
    height: 100vh;
}

/*Header settings*/
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 150px 35px 150px;
    color: $white-font;
    font-size: 1.13rem;

    span#header-links{
        display: flex;
        gap: 45px;
    }

    span#portfolio{
        font-size: 1.63rem;
        font-weight: bold;
    }
}

/*First Section styling*/

section.landing-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 81px 150px 0px 150px;

        article{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            height: 100%;
            width: 100%;
                /*Styling my name in first section*/
                h2{
                    font-weight: 700;
                    font-size: 2.25rem;
                    line-height: 2.94rem;
                    color: $white-font;
                    margin-bottom: 1.13rem;
                        /*The yellow strong text*/
                        strong{
                            color: $theme;
                        }
                }
                /*Front-end description*/
                p#landing-section{
                    font-weight: 500;
                    font-size: 1.13rem;
                    line-height: 1.44rem;
                    color: $secundary-font-color;
                }

                /*Buttons style*/
                div#button-landing{
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    
                }
                button{
                    transition: 0.5s;
                    cursor: pointer;
                    background-color: transparent;
                    border: $theme solid 1px;
                    padding: 12px 27px;
                    margin: 2.94rem 0.9375rem 0rem 0rem;
                        a{
                            text-decoration: none;
                            color: $white-font;
                            font-weight: bold;
                        }
                        a:visited{
                            color: white;
                        }
                      }
                button:hover{
                    background-color: $theme;
                    border: #000 1px solid;
                    transition: 1;                  
                    }        
                
        }

        aside#myself-picture, img{
            width: 100%;
            max-width: 300px;
            height: 250px;
            border-radius: 42% 58% 62% 38% / 30% 53% 47% 70%;
        }
        aside#myself-picture:hover,img:hover{
            border: 1px solid $theme;
            transition: 1.5;
            scale: 1.025;
        }
}

/*Second section - About me*/

section#moreAboutMe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

        h1{
            color: $white-font;
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.63rem;
            margin-top: 10.625rem;
            margin-bottom: 1.88rem;
        }
        p{
            text-indent: 48px;
            color: $secundary-font-color;
            width: 46.5625rem;
            text-align: justify;
            line-height: 2rem;
        }
}

/*Contanct section (Third)*/

div.contact-info{
    margin-top: 5.3125rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
        /*Card with the circle and information about me*/
        .circle-card{
            
                .circle{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                /*SVG background*/
                svg.svg-emoji{
                    background: $card-bg;
                    width: 62px;
                    height: 62px;
                    border-radius: 100px;
                    margin-bottom: 20px;
                }

                /*Padding of svg picture*/
                svg{
                    padding: 15px;
                    margin-bottom: 20px;
                    overflow: hidden;

                }

                strong{
                    color: $white-font;
                }
                p{
                    margin: 5px 0px 7.9375rem 0px;
                    color: $secundary-font-color;
                }
        }

}