/*Setting colors in variables*/
/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap");
/*Standard configs*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  background-color: #1E1E1E;
  width: 100%;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

/*Header settings*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 150px 35px 150px;
  color: #F9F9F9;
  font-size: 1.13rem;
}
header span#header-links {
  display: flex;
  gap: 45px;
}
header span#header-links a {
  text-decoration: none;
  color: #F9F9F9;
}
header span#header-links a:visited {
  color: none;
}
header span#header-links a:hover {
  transition: 1.5;
  scale: 1.05;
  color: #FECE2F;
  cursor: pointer;
}
header nav#aboutMe:hover, header #project:hover, header #service:hover, header #skill:hover {
  transition: 1.5;
  scale: 1.05;
  color: #FECE2F;
  cursor: pointer;
}
header span#portfolio {
  font-size: 1.63rem;
  font-weight: bold;
}

/*First Section styling*/
section.landing-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 81px 150px 0px 150px;
}
section.landing-section article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  /*Styling my name in first section*/
  /*Front-end description*/
  /*Buttons style*/
}
section.landing-section article h2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.94rem;
  color: #F9F9F9;
  margin-bottom: 1.13rem;
  /*The yellow strong text*/
}
section.landing-section article h2 strong {
  color: #FECE2F;
}
section.landing-section article p#landing-section {
  font-weight: 500;
  font-size: 1.13rem;
  line-height: 1.44rem;
  color: #828282;
}
section.landing-section article div#button-landing {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
section.landing-section article button {
  transition: 0.5s;
  cursor: pointer;
  background-color: transparent;
  border: #FECE2F solid 1px;
  padding: 12px 27px;
  margin: 2.94rem 0.9375rem 0rem 0rem;
}
section.landing-section article button a {
  text-decoration: none;
  color: #F9F9F9;
  font-weight: bold;
}
section.landing-section article button a:visited {
  color: white;
}
section.landing-section aside#myself-picture, section.landing-section img {
  width: 100%;
  max-width: 300px;
  height: 250px;
  border-radius: 42% 58% 62% 38%/30% 53% 47% 70%;
}
section.landing-section aside#myself-picture:hover, section.landing-section img:hover {
  transition: 1.5;
  scale: 1.025;
}

/*Second section - About me*/
section#moreAboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section#moreAboutMe h1 {
  color: #F9F9F9;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.63rem;
  margin-top: 10.625rem;
  margin-bottom: 1.88rem;
}
section#moreAboutMe p {
  text-indent: 48px;
  color: #828282;
  width: 46.5625rem;
  text-align: justify;
  line-height: 2rem;
}

/*Contanct section (Third)*/
div.contact-info {
  margin-top: 5.3125rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px 150px;
  /*Card with the circle and information about me*/
}
div.contact-info .circle-card {
  /*SVG background*/
  /*Padding of svg picture*/
}
div.contact-info .circle-card .circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.contact-info .circle-card svg.svg-emoji {
  background: #303030;
  width: 62px;
  height: 62px;
  border-radius: 100px;
  margin-bottom: 20px;
}
div.contact-info .circle-card svg {
  padding: 15px;
  margin-bottom: 20px;
  overflow: hidden;
}
div.contact-info .circle-card strong {
  color: #F9F9F9;
}
div.contact-info .circle-card p {
  margin: 5px 0px 7.9375rem 0px;
  color: #828282;
}

/*Project cards section*/
.project-title {
  text-align: center;
  color: #F9F9F9;
  font-size: 2rem;
}

#projects {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr;
  grid-column-gap: 45px;
  grid-row-gap: 32px;
  place-items: center;
  padding: 0px 150px;
  margin-bottom: 7.9375rem;
  /*Main card*/
}
#projects .card-links {
  text-decoration: none;
}
#projects div.project-main-card {
  background-color: #303030;
  max-width: 350px;
  width: 100%;
  height: 240px;
  padding: 25px;
}
#projects div.project-main-card div.project-card-image {
  max-width: 300px;
  width: 100%;
  height: 130px;
  background-color: #F9F9F9;
  margin-bottom: 25px;
  cursor: pointer;
}
#projects div.project-main-card h3 {
  font-weight: bold;
  font-size: 1.13rem;
  color: #FECE2F;
  margin-bottom: 6px;
}
#projects div.project-main-card p {
  color: #828282;
  font-size: 0.875rem;
}
#projects div.project-main-card:hover {
  transition: 0.8;
  scale: 1.05;
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.75);
}

/*Styling the services section*/
section#services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 45px;
  place-items: center;
  padding: 0px 150px;
  margin-top: 30px;
  margin-bottom: 7.9375rem;
}
section#services .service-card {
  width: 350px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #303030;
  border-bottom: 5px;
  border-bottom-color: #FECE2F;
  border-bottom-style: solid;
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.75);
}
section#services .service-card picture {
  display: grid;
  place-items: center;
}
section#services .service-card h2 {
  margin-top: 40px;
  font-size: 2rem;
  color: #828282;
}

/*Styling my skills section*/
#skill-title {
  margin-bottom: 30px;
}

section#mySkills {
  /*padding: 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 11.5625rem;
  margin-top: 30px;
  */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  grid-gap: 0px 100px;
  padding: 0px 150px;
  margin-bottom: 185px;
  margin-top: 30px;
}
section#mySkills .skill-card {
  padding: 35px;
  background-color: #303030;
}
section#mySkills .skill-card:hover {
  transition: 0.8;
  scale: 1.05;
  box-shadow: 0px 0px 20px 0px #FECE2F;
}

footer {
  background-color: #303030;
  padding: 15px;
}
footer p {
  font-size: 16px;
  text-align: center;
  color: #F9F9F9;
}
footer p strong {
  color: #FECE2F;
}

/*Responsive for mobile*/
@media screen and (max-width: 600px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  /*Header Section*/
  header {
    justify-content: space-around;
    padding: 24px 0px 0px 24px;
  }
  header span#header-links {
    font-size: 10px;
    gap: 5px;
    padding: 0px 30px 0px 0px;
  }
  header span#portfolio {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
  }
  /*Initial Landing Section*/
  section.landing-section {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section.landing-section article div#buttons-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 56px;
  }
  section.landing-section article h2 {
    margin: 56px 8px 8px 8px;
    width: 100%;
    font-size: 30px;
    text-align: center;
  }
  section.landing-section article p#landing-section {
    text-align: center;
    width: 100%;
  }
  /*More About Me Section*/
  section#moreAboutMe h1 {
    text-align: center;
    margin-bottom: 0px;
  }
  section#moreAboutMe p {
    margin-top: 0px;
    width: 100%;
    font-size: 14px;
    padding: 24px;
    margin-bottom: 0px;
  }
  /*My contact section*/
  div.contact-info {
    padding: 20px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  div.contact-info .circle-card {
    padding: 0px;
    margin: 0px;
    max-width: 150px;
    width: 100%;
    height: auto;
  }
  div.contact-info .circle-card p {
    font-size: 12px;
  }
  div.contact-info .circle-card h3 {
    font-size: 18px;
  }
  /*Projects Section*/
  section#projects {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    grid-row-gap: 32px;
    place-items: center;
    padding: 0px;
    margin-bottom: 7.9375rem;
  }
  /*My services Section*/
  section#services {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-gap: 24px 45px;
    place-items: center;
    padding: 0px;
  }
  /*My skills section*/
  section#mySkills {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 24px 50px;
    padding: 0px 24px;
  }
}/*# sourceMappingURL=style.css.map */